################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Coffee/obj
/Coffee/.vs/Coffee
